#landing-body {
  width: 100%;
  height: max-content;
  min-height: 70dvh;

  background-color: transparent;

  z-index: 1;
  position: relative;

  padding-top: 28px;
}

@media screen and (min-width: 834px) {
  #landing-body {
    padding-top: 100px;
  }
}