.download-bubble-upper {
  width: var(--100dvw) !important;
  height: var(--100dvw) !important;
  top: -24% !important;
  filter: blur(var(--download-bubble-blur)) !important;
  background-color: var(--secondary) !important;
  z-index: 0 !important;
}

.download-bubble-lower {
  width: var(--100dvw) !important;
  height: var(--100dvw) !important;
  bottom: -16% !important;
  filter: blur(200px) !important;
  background-color: var(--primary) !important;
  z-index: 0 !important;
}

#download-mainbody {
  width: 100dvw;
  height: 100svh;

  overflow: hidden;

  position:relative
}

#download-box-wrapper {
  width: 100dvw;
  height: 100svh;

  z-index: 99999
}

#download-box {
  width: calc(100dvw - 56px);
  height: max-content;
  max-height: 300px;

  border-radius: 30px;
  border: 1px solid var(--border);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 28px;

  background-color: var(--background2);
  backdrop-filter: blur(60px);

  transition: 0.25s ease;

  overflow: hidden;

  box-shadow: 0px 0px 30px -10px var(--shadow);
}

li {
  list-style-type: none;
}

#downloadbox-content {
  position: relative;
  width: calc(100% - 56px);
  height: max-content;

  background-color: transparent;

  margin-top: 16px;
  left: 50%;
  transform: translateX(-50%);

  text-align: right;
  font-family: _bold;
  font-size: clamp(32px, 9vw, 40px);
}

#downloadbox-buttons {
  display: flex;
  justify-content: end;
  gap: 20px;
}

.download-button{
  width: 140px !important;
  font-size: 16px !important;
}

#downloadbox-content .gradient {
  background: linear-gradient(90deg, var(--primary) 0%, var(--secondary) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@media screen and (min-width: 834px) {
  .download-bubble-upper {
    width: var(--100dvw) !important;
    height: var(--100dvw) !important;
    top: -190% !important;
    filter: blur(400px) !important;
    background-color: var(--secondary) !important;
    z-index: 0 !important;
    border-radius: 100% !important
  }

  .download-bubble-lower {
    width: var(--100dvw) !important;
    height: var(--100dvw) !important;
    bottom: -180% !important;
    filter: blur(500px) !important;
    background-color: var(--primary) !important;
    z-index: 0 !important;

    border-radius: 100% !important
  }

  #download-box {
    width: calc(50dvw - 56px);
    max-width: 500px;
    height: max-content;
    max-height: 400px;

    border-radius: 40px;
    border: 1px solid var(--border);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 28px;

    background-color: var(--background2);
    backdrop-filter: blur(60px);

    transition: 0.25s ease;

    overflow: hidden;
  }

  #downloadbox-content {
    font-size: clamp(44px, 3vw, 56px);
  }
}